<div class=main>

  <div class=main_up>

    <div class=input>入力
    </div>

    <div class=search_ran>検索欄
    </div>

    <div class=search>検索
    </div>

  </div>
  

  <div class=main_down>
  
    <div class=>メモ1
    </div>
    <div class=>メモ２
    </div>


  </div>


</div>
